.map-headers {
    display: flex;
    flex-direction: row;
    z-index: 120;
    align-self: flex-start;
}

.map-controls {
    display: flex;
}

.map-overlay {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100vh;
    margin: 2em;
}

.map-stats {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 0 auto;
}