.vehicle {
    &-recap {
        flex: 0 0 auto;
        z-index: 100;
        display: flex;
        background-color: white;
        flex-direction: column;
        padding: .5em 1em;
        border: 1px solid gray;
        box-shadow: 5px 5px 3px #888888;
        &-group {
            padding: 0 .2em;
            display: flex;
            &-label {
                flex: 0 0 20%;
            }
        }
    }
}