.statistics-card {
    background-color: white;
    z-index: 100;
    padding: .5em 1em;
    margin: 5em;
    display: flex;
    width: 20vw;
    flex-direction: column;
    border: 1px solid gray;
    box-shadow: 5px 5px 3px #888888;

    &-group {
        padding: 0 .2em;
        display: flex;
        justify-content: space-between;
        &-total {
            margin-top: .1em;
            padding-top: .1em;
            border-top: 1px solid gray;
        }
    }
}