
.vehicle {
    &-popup {
        display: flex;
        flex-direction: column;
        padding: .5em 1em;
        &--error {
            background-color: lighten(red, 35%) !important;
        }
    }
}