<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <% if (htmlWebpackPlugin.options.mobile) { %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <% } %>
    <title><%=htmlWebpackPlugin.options.title || 'Webpack App'%></title>
    <% if (htmlWebpackPlugin.files.favicon) { %>
    <link rel="shortcut icon" href="<%=htmlWebpackPlugin.files.favicon%>">
    <% } %>
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <!--link href="<%=htmlWebpackPlugin.files.css %>" rel="stylesheet"-->
    <% } %>
</head>
<body>
<% if (htmlWebpackPlugin.options.unsupportedBrowser) { %>
<style>.unsupported-browser { display: none; }</style>
<div class="unsupported-browser">
    Sorry, your browser is not supported. Please upgrade to
    the latest version or switch your browser to use this site.
    See <a href="http://outdatedbrowser.com/">outdatedbrowser.com</a>
    for options.
</div>
<% } %>
<% if (htmlWebpackPlugin.options.appMountId) { %>
<div id="<%=htmlWebpackPlugin.options.appMountId%>"></div>
<% } %>
<% if (htmlWebpackPlugin.options.appMountIds && htmlWebpackPlugin.options.appMountIds.length > 0) { %>
<% for (var index in htmlWebpackPlugin.options.appMountIds) { %>
<div id="<%=htmlWebpackPlugin.options.appMountIds[index]%>"></div>
<% } %>
<% } %>
<!--script src="api/public/customerJs?v=<%=htmlWebpackPlugin.options.compileTime || '42'%>"></script-->
<% if (htmlWebpackPlugin.options.window) { %>
<script>
    <% for (var varName in htmlWebpackPlugin.options.window) { %>
        window['{%=varName%}'] = <%=JSON.stringify(htmlWebpackPlugin.options.window[varName])%>;
        <% } %>
</script>
<% } %>
<% if (htmlWebpackPlugin.options.devServer) { %>
<script src="<%=htmlWebpackPlugin.options.devServer%>/webpack-dev-server.js"></script>
<% } %>
</body>
